@charset "UTF-8";

#mainDiv {
	display: flex;
	height: auto;
	min-height: 100%;
}

#main {
	width: 100%;
	padding: 20px 100px 20px 100px;
	border: 1px solid black;
}

#noticeTable {
	width: 100%;
}

#paging {
	margin: 20px 0 20px 0;
}