@charset "UTF-8";

#left {
	width: 300px;
	background-color: black;
	padding-top: 10px;
    padding-left: 10px;
}

#left>h4{
	color: white;
}

#left ul li {
	margin-left: 20px;
	padding-top: 5px;
}

#left ul li a {
	color: white;
}